<div class="card" style="padding: 15; max-width: 300px;">
  <h4 class="text-uppercase"><%= article.id %></h4>
  <h4 class="text-uppercase"><%= article.title%></h4>
  <p class="text-secondary"><%= article.created_at %></p>
  <%= link_to 'ver más', article%>
</div>